body {
  background: #111e83;
  background: linear-gradient(
    90deg,
    rgba(17, 30, 131, 1) 29%,
    rgba(30, 54, 233, 1) 76%
  );
  font-family: "Poppins";
}
.admin-login {
  max-width: 400px;
  height: 650px;
  background-color: white;
  color: white;
  margin: auto;
  margin-top: 120px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);

  box-shadow: 6px 6px 16px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 16px -3px rgba(0, 0, 0, 0.75);
}
.admin-login button {
  background-color: transparent;
  border: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.admin-login a {
  color: white;
}
i {
  font-size: 24px;
}
.login-text {
  justify-self: center;
}
.login-text h1 {
  font-size: 48px;
}
.username {
  margin-top: 60px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.username label {
  font-size: 16px;
  font-weight: bold;
}
.username input {
  height: 30px;
  border-radius: 15px;
  border: 0;
  border-style: solid;
}
.barangay {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.barangay label {
  font-size: 16px;
  font-weight: bold;
}
.barangay input {
  height: 30px;
  border-radius: 15px;
  border: 0;
  border-style: solid;
}
.password {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.password label {
  font-size: 16px;
  font-weight: bold;
}
.password input {
  height: 30px;
  border-radius: 15px;
  border: 0;
  border-style: solid;
}
.login-button {
  justify-self: center;
}
.login-button button {
  margin-top: 67px;
  width: 350px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 22px;
  border: 0;
  background-color: #1e36e9;
}

.add-acc button {
  color: white;
  cursor: pointer;
}
.add-acc button:hover {
  color: #1e36e9;
}
.admin-signup {
  max-width: 400px;
  height: 650px;
  background-color: white;
  color: white;
  margin: auto;
  margin-top: 120px;
  align-self: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);

  box-shadow: 6px 6px 16px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 16px -3px rgba(0, 0, 0, 0.75);
}
.admin-signup button {
  background-color: transparent;
  border: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.admin-signup i {
  color: white;
}
.signup-login button {
  background-color: transparent;
  border: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.signup-login a {
  color: white;
}
i {
  font-size: 24px;
}
.signup-text {
  justify-self: center;
}
.signup-text h1 {
  font-size: 48px;
  margin-bottom: 0;
}
.signup-text h2 {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
}
.signup-button {
  justify-self: center;
}
.signup-button button {
  margin-top: 67px;
  width: 350px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-right: 22px;
  border-radius: 15px;
  border: 0;
  background-color: #1e36e9;
}
